# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cbadea\OneDrive - ENDAVA\Desktop\Prgramare web master an I\Master an I lab 2\masteran1ex1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
