<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="p1" name="p1" class="model.Persoana">
        <constructor-arg name="nume" value="Costin"/>
        <constructor-arg name="varsta" value="27"/>
    </bean>
</beans>
